body {
  color: rgb(253, 253, 253);
  background-image: url(NewImages/whitepet.jpg);
  text-align: center;
}

div {
  background: rgba(0, 0, 0, 0.479);
  border-color: black;
}

header {
  float: top;
}
header h1 {
  text-align: center;
  height: 100px;
  font-size: 5em;
  border-radius: 15px;
}

/* Css Specific to nav and anchors*/
nav {
  background: rgba(0, 0, 0, 0.671);
  top: 0;
  position: absolute;
  float: top;
  text-align: left;
  width: 100%;
  font-size: 3em;
  word-spacing: 2em;
}
nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 0.8em;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: silver;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

footer {
  float: bottom;
  background: rgba(0, 0, 0, 0.671);
  bottom: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  font-size: 3em;
  word-spacing: 2em;
}
.anime {
  border-radius: 8px;
  padding: 25px;
  width: 180px;
}
 #indexList{
    text-align: left;
}
/*CSS Specific to index.html*/
#face {
  border-radius: 50%;
  padding: 25px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#intro {
  text-align: center;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
